In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import os
import matplotlib.font_manager as fm
import yfinance as yf
import datetime
from datetime import timedelta, datetime
import openpyxl
import setuptools
import pandas_datareader as pdr

In [16]:
documento_corretoras = r"C:\Users\LucasCavalcante\Desktop\old"
df = pd.read_excel(f"{documento_corretoras}\\COMPLETO_PEERS_CORRETORAS_OUTUBRO.xlsx")

#INSIRO O CAMINHO DAS FONTES
caminho_Avenir = r'C:\\Users\\LucasCavalcante\\AppData\\Local\\Microsoft\\Windows\\Fonts\\Avenir Next LT Pro Regular.otf'
caminho_Geometeos = r'C:\\Users\\LucasCavalcante\\AppData\\Local\\Microsoft\\Windows\\Fonts\\Geometos Rounded.ttf'

#ALIMENTO DUAS VARIAVEIS COM AS FONTES
Avenir = fm.FontProperties(fname=caminho_Avenir)
Geometeos = fm.FontProperties(fname=caminho_Geometeos)

#FAÇO O MATPLTOLIB RECONHEÇER AS FONTES COMO FAMILIARIES
plt.rcParams['font.family'] = Avenir.get_name()
plt.rcParams['font.family'] = Avenir.get_name()

df['Compras'] = (df['Compras']/1000).round(0)
df['Vendas'] = (df['Vendas']/1000).round(0)

In [18]:
df_compras = df.drop(columns=['Vendas'])
df_vendas = df.drop(columns=['Compras'])

In [22]:
df_vendas_gare11 = (df_vendas.query('Fundo == "GARE11"').sort_values(['Vendas'], ascending=False).iloc[:7, :])
df_vendas_trxf11 = (df_vendas.query('Fundo == "TRXF11"').sort_values(['Vendas'], ascending=False).iloc[:7, :])
df_vendas_hgru11 = (df_vendas.query('Fundo == "HGRU11"').sort_values(['Vendas'], ascending=False).iloc[:7, :])
df_vendas_knri11 = (df_vendas.query('Fundo == "KNRI11"').sort_values(['Vendas'], ascending=False).iloc[:7, :])
df_vendas_alzr11 = (df_vendas.query('Fundo == "ALZR11"').sort_values(['Vendas'], ascending=False).iloc[:7, :])
df_vendas_btlg11 = (df_vendas.query('Fundo == "BTLG11"').sort_values(['Vendas'], ascending=False).iloc[:7, :])
df_vendas_hglg11 = (df_vendas.query('Fundo == "HGLG11"').sort_values(['Vendas'], ascending=False).iloc[:7, :])

df_compras_gare11 = (df_compras.query('Fundo == "GARE11"').sort_values(['Compras'], ascending=False).iloc[:7, :])
df_compras_trxf11 = (df_compras.query('Fundo == "TRXF11"').sort_values(['Compras'], ascending=False).iloc[:7, :])
df_compras_hgru11 = (df_compras.query('Fundo == "HGRU11"').sort_values(['Compras'], ascending=False).iloc[:7, :])
df_compras_knri11 = (df_compras.query('Fundo == "KNRI11"').sort_values(['Compras'], ascending=False).iloc[:7, :])
df_compras_alzr11 = (df_compras.query('Fundo == "ALZR11"').sort_values(['Compras'], ascending=False).iloc[:7, :])
df_compras_btlg11 = (df_compras.query('Fundo == "BTLG11"').sort_values(['Compras'], ascending=False).iloc[:7, :])
df_compras_hglg11 = (df_compras.query('Fundo == "HGLG11"').sort_values(['Compras'], ascending=False).iloc[:7, :])

In [23]:
df_corretoras_V = df_vendas_gare11.drop(columns=['Fundo', 'Vendas'])
df_corretoras_V

fundos = [df_vendas_gare11, df_vendas_trxf11, df_vendas_hgru11, df_vendas_knri11, df_vendas_alzr11, df_vendas_btlg11, df_vendas_hglg11]
nomes_fundos = [df['Fundo'].iloc[0] for df in fundos]
corretoras_interesse = df_corretoras_V['Corretora'].tolist()

result = pd.DataFrame({'Corretoras': corretoras_interesse})
result.set_index('Corretoras', inplace=True)

for nome, df in zip(nomes_fundos, fundos):
    filtro = df[df['Corretora'].isin(corretoras_interesse)]
    tabela = filtro[['Corretora', 'Vendas']].groupby('Corretora').sum()
    result[nome] = tabela['Vendas']

result = result.fillna(0)

result = result.reset_index()

final_V = pd.DataFrame(result)

final_V

    Corretoras   GARE11    TRXF11   HGRU11   KNRI11   ALZR11   BTLG11   HGLG11
0           XP  56489.0  125819.0  33039.0  25628.0  12109.0  54506.0  55199.0
1       GENIAL  40353.0   38315.0  13545.0  25669.0   7703.0  34462.0  36668.0
2  BTG PACTUAL   7076.0   28226.0   8309.0  12356.0   4645.0  38323.0  22708.0
3        INTER   6547.0    5347.0      0.0  13528.0   1385.0      0.0   5541.0
4    NU INVEST   4621.0       0.0      0.0      0.0   1369.0   4509.0   8677.0
5         ITAU   4095.0    7423.0   3336.0  13714.0   1587.0   8354.0   7649.0
6          UBS   3497.0    8051.0   6109.0  11773.0   2150.0  14196.0  14894.0

In [25]:
fundos = [df_compras_gare11, df_compras_trxf11, df_compras_hgru11, df_compras_knri11, df_compras_alzr11, df_compras_btlg11, df_compras_hglg11]
nomes_fundos = [df['Fundo'].iloc[0] for df in fundos]
corretoras_interesse = df_corretoras_V['Corretora'].tolist()

result = pd.DataFrame({'Corretoras': corretoras_interesse})
result.set_index('Corretoras', inplace=True)

for nome, df in zip(nomes_fundos, fundos):
    filtro = df[df['Corretora'].isin(corretoras_interesse)]
    tabela = filtro[['Corretora', 'Compras']].groupby('Corretora').sum()
    result[nome] = tabela['Compras']

result = result.fillna(0)

result = result.reset_index()

final_C = pd.DataFrame(result)

final_C

    Corretoras   GARE11    TRXF11   HGRU11   KNRI11  ALZR11   BTLG11   HGLG11
0           XP  32730.0  131249.0  28530.0  30304.0  9445.0  51959.0  45912.0
1       GENIAL  41725.0   39778.0  14833.0  26226.0  8018.0  35911.0  37845.0
2  BTG PACTUAL   9884.0   14957.0   7316.0   8764.0  4439.0  26011.0  16818.0
3        INTER  11446.0    6320.0   2874.0      0.0  1895.0      0.0   7647.0
4    NU INVEST  13771.0       0.0   3329.0   5656.0  2671.0   8110.0  14115.0
5         ITAU   6314.0    6972.0   6634.0  15347.0  2172.0  13001.0  10037.0
6          UBS   3357.0    8216.0   6152.0  11149.0  2173.0  12720.0  13768.0