In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import os
import matplotlib.font_manager as fm
import yfinance as yf
import datetime
from datetime import timedelta, datetime
import openpyxl
import setuptools
import pandas_datareader as pdr

In [41]:
dfMENSAL = pd.read_excel('BASE_MENSAL_GARE_ABR.xlsx')
dfCOMPRA = dfMENSAL.query('OPERAÇÃO == "Compra"')
dfVENDA = dfMENSAL.query('OPERAÇÃO == "Venda"')

dfCOMPRA_final = dfCOMPRA.groupby(['DOCUMENTO'], as_index=False).agg({'DOCUMENTO':'first','NOME':'first','PF_PJ':'first','TOTAL':'first','TOTAL_NOVO':'last','VAR_COTAS':'sum',
                                                                      'OPERAÇÃO':'first','FINANCEIRO_ATUAL':'first','FINANCEIRO_NOVO':'last', 'VAR_PRECO':'sum','CATEGORIAS ATUAIS':'last',
                                                                      'CATEGORIAS ANTIGAS':'first','Participação_sup':'sum','GARE15':'first','GALG15':'first',
                                                                      'CATEGORIAS':'first'})
                                                                                                                            
dfVENDA_final = dfVENDA.groupby(['DOCUMENTO'], as_index=False).agg({'DOCUMENTO':'first','NOME':'first','PF_PJ':'first','TOTAL':'first','TOTAL_NOVO':'last','VAR_COTAS':'sum',
                                                                    'OPERAÇÃO':'first','FINANCEIRO_ATUAL':'first','FINANCEIRO_NOVO':'last','VAR_PRECO':'sum','CATEGORIAS ATUAIS':'last',
                                                                    'CATEGORIAS ANTIGAS':'first','Participação_sup':'sum','GARE15':'first','GALG15':'first',
                                                                    'CATEGORIAS':'first'})

total_compra = dfCOMPRA['VAR_PRECO'].sum()
total_venda = dfVENDA['VAR_PRECO'].sum()
delta_sum = total_compra+total_venda
print('o valor de compra é {} e o valor de venda é {}, e o total é {}'.format(total_compra, total_venda, delta_sum))

o valor de compra é 58603928.06999999 e o valor de venda é 58603928.06999999, e o total é 117207856.13999999

In [42]:
dfCOMPRA_PJ = dfCOMPRA_final.query('PF_PJ == "PJ"')
dfVENDA_PJ = dfVENDA_final.query('PF_PJ == "PJ"')
dfCOMPRA_PJ_VAR_PRECO = dfCOMPRA_PJ['VAR_PRECO'].sum()
dfVENDA_PJ_VAR_PRECO = dfVENDA_PJ['VAR_PRECO'].sum()
part_pj_compra = (dfCOMPRA_PJ_VAR_PRECO/total_compra)*100
part_pj_venda = (dfVENDA_PJ_VAR_PRECO/total_venda)*100
print('o valor comprado por PJs foi {}, e participação no vol total foi {} e o vendido foi {}, e participação no vol total foi {}'.format(dfCOMPRA_PJ_VAR_PRECO, part_pj_compra, dfVENDA_PJ_VAR_PRECO, part_pj_venda))

o valor comprado por PJs foi 3193653.64, e participação no vol total foi 5.4495555932450666 e o vendido foi 10164548.310000002, e participação no vol total foi 17.344482946363023

In [43]:
dfCOMPRA_PF = dfCOMPRA.query('PF_PJ == "PF"')
dfVENDA_PF = dfVENDA.query('PF_PJ == "PF"')
dfCOMPRA_PF_VAR_PRECO = dfCOMPRA_PF['VAR_PRECO'].sum()
dfVENDA_PF_VAR_PRECO = dfVENDA_PF['VAR_PRECO'].sum()
part_pf_compra = (dfCOMPRA_PF_VAR_PRECO/total_compra)*100
part_pf_venda = (dfVENDA_PF_VAR_PRECO/total_venda)*100
print('o valor comprado por PFs foi {}, e participação no vol total foi {} e o vendido foi {}, e participação no vol total foi {}'.format(dfCOMPRA_PF_VAR_PRECO, part_pf_compra, dfVENDA_PF_VAR_PRECO, part_pf_venda))

o valor comprado por PFs foi 55410274.43000001, e participação no vol total foi 94.55044440675496 e o vendido foi 48439379.760000005, e participação no vol total foi 82.655517053637

In [58]:
segrega_cotas_C = dfCOMPRA_PJ.groupby(by = ['CATEGORIAS ANTIGAS'])['VAR_PRECO'].sum()
segrega_cotas_C = segrega_cotas_C.sort_values(ascending=False)
segrega_cotas_C_df = segrega_cotas_C.reset_index()
segrega_cotas_C_df

  CATEGORIAS ANTIGAS   VAR_PRECO
0          100k-500k  1657256.55
1            500k-1M   569328.82
2            20k-50k   480015.25
3           50k-100k   232488.00
4             5k-20k   124474.47
5               0-1k    69334.21
6              1k-5k    60756.34

In [59]:
segrega_cotas_V = dfVENDA_PJ.groupby(by = ['CATEGORIAS ANTIGAS'])['VAR_PRECO'].sum()
segrega_cotas_V = segrega_cotas_V.sort_values(ascending=False)
segrega_cotas_V_df = segrega_cotas_V.reset_index()
segrega_cotas_V_df

  CATEGORIAS ANTIGAS   VAR_PRECO
0               >15M  6305929.45
1          100k-500k  1173338.78
2              1M-3M  1004099.26
3            500k-1M   874036.37
4            20k-50k   557326.80
5             5k-20k   128666.98
6           50k-100k    81780.00
7              1k-5k    37105.93
8               0-1k     2264.74

In [46]:
dfCOMPRA_PJ

,DOCUMENTO,NOME,PF_PJ,TOTAL,TOTAL_NOVO,VAR_COTAS,OPERAÇÃO,FINANCEIRO_ATUAL,FINANCEIRO_NOVO,VAR_PRECO,CATEGORIAS ATUAIS,CATEGORIAS ANTIGAS,Participação_sup,GARE15,GALG15,CATEGORIAS
99964,646611000101,M MUSONS PARTICIPACOES LTDA,PJ,17,195,178,Compra,144.50,1657.50,1513.00,1k-5k,0-1k,0.023930,AUSENTE,AUSENTE,1
99965,1074837000148,WILCOS DO BRASIL INDUSTRIA E COMERCIO LIMITADA,PJ,1300,1600,300,Compra,10946.00,13472.00,2526.00,5k-20k,5k-20k,0.052069,AUSENTE,AUSENTE,3
99966,2332886000104,XP INVESTIMENTOS CCTVM S/A,PJ,19173,16894,17975,Compra,163162.23,146977.80,153878.32,100k-500k,100k-500k,2.556403,AUSENTE,AUSENTE,6
99967,5008299000144,A PALHOCA RESTAURANTE LTDA ME,PJ,99,100,1,Compra,837.54,846.00,8.46,0-1k,0-1k,0.000155,AUSENTE,AUSENTE,1
99968,5448018000174,"UBS AG, LONDON BRANCH",PJ,6,4044,7194,Compra,51.06,34212.24,61026.44,20k-50k,0-1k,1.139277,AUSENTE,AUSENTE,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100020,57348850000100,IKKI W C C LTDA,PJ,0,50,50,Compra,0.00,438.00,429.00,0-1k,0-1k,0.007187,AUSENTE,AUSENTE,1
100021,58931172000169,PONCIANO REIS PATRIMONIAL LTDA,PJ,100,101,1,Compra,889.00,897.89,8.89,0-1k,0-1k,0.000136,AUSENTE,AUSENTE,1
100022,64076078000172,SETTIMO ENGENHARIA DE CONSTRUCOES LTDA,PJ,203,242,39,Compra,1717.38,2047.32,329.94,1k-5k,1k-5k,0.006048,AUSENTE,AUSENTE,2
100023,82296385000140,REPREMEL REPRESENTACOES COMERCIAIS LTDA,PJ,0,3501,3501,Compra,0.00,29828.52,29828.52,20k-50k,20k-50k,0.388318,AUSENTE,AUSENTE,4
100024,99000000033653,HEADLANDS TECHNOLOGIES LLC,PJ,0,9400,9400,Compra,0.00,82344.00,82344.00,50k-100k,50k-100k,1.229861,AUSENTE,AUSENTE,5

In [52]:
cat = 'CATEGORIAS'
cat_atuais = 'CATEGORIAS ATUAIS'
Nome = 'NOME'
fin_mov = 'VAR_PRECO'
qtde = 'TOTAL_NOVO'

t10c = dfCOMPRA_PJ.sort_values(by = ['VAR_PRECO'], ascending=False).iloc[:20, :]
t10c = t10c.drop(columns=['DOCUMENTO', 'TOTAL', 'VAR_COTAS', 'OPERAÇÃO', 'FINANCEIRO_ATUAL', 'Participação_sup', 'GARE15', 'GALG15', 'CATEGORIAS'])
t10c

,NOME,PF_PJ,TOTAL_NOVO,FINANCEIRO_NOVO,VAR_PRECO,CATEGORIAS ATUAIS,CATEGORIAS ANTIGAS
100003,XTX MARKETS TRADING LIMITED,PJ,137617,1231672.15,1250156.36,1M-3M,100k-500k
99980,TRANSINC FII,PJ,67939,569328.82,569328.82,500k-1M,500k-1M
99991,RIGEL COVE LP,PJ,2541,22589.49,450136.03,20k-50k,20k-50k
99999,TREND ETF IFIX FUNDO DE INDICE,PJ,32312,284991.84,253221.87,100k-500k,100k-500k
99966,XP INVESTIMENTOS CCTVM S/A,PJ,16894,146977.80,153878.32,100k-500k,100k-500k
100000,JUMP TRADING EUROPE B.V.,PJ,2182,19528.90,90979.49,5k-20k,5k-20k
100002,WHG REAL ESTATE FI IMOBILIARIO FII,PJ,10000,87000.00,87000.00,50k-100k,50k-100k
100024,HEADLANDS TECHNOLOGIES LLC,PJ,9400,82344.00,82344.00,50k-100k,50k-100k
100017,VENDEMIATTI HOLDING GROUP LTDA,PJ,7370,64119.00,63144.00,50k-100k,50k-100k
99968,"UBS AG, LONDON BRANCH",PJ,4044,34212.24,61026.44,20k-50k,0-1k
99997,MORGAN STANLEY URUGUAY LTDA,PJ,35,304.50,29929.94,0-1k,1k-5k
100023,REPREMEL REPRESENTACOES COMERCIAIS LTDA,PJ,3501,29828.52,29828.52,20k-50k,20k-50k
99989,SPIRE X TRADING LLC RV,PJ,52,452.40,21861.33,0-1k,1k-5k
99996,TARPIKA LLC,PJ,913,8171.35,17738.05,5k-20k,5k-20k
99971,MOREIRA COSTA LABORATORIOS E ENGENHARIA AMBIEN...,PJ,1600,13616.00,7659.00,5k-20k,5k-20k
100004,CREDIT SUISSE (BRASIL) S.A. CTVM,PJ,334,2969.26,6214.16,1k-5k,1k-5k
99979,M MARIA DE ANDRADE SILVA,PJ,2665,23185.50,4925.93,20k-50k,5k-20k
99965,WILCOS DO BRASIL INDUSTRIA E COMERCIO LIMITADA,PJ,1600,13472.00,2526.00,5k-20k,5k-20k
99987,MR FERREIRA TRANSPORTES EIRELI ME,PJ,363,3092.76,2240.76,1k-5k,0-1k
99964,M MUSONS PARTICIPACOES LTDA,PJ,195,1657.50,1513.00,1k-5k,0-1k

In [53]:
cat = 'CATEGORIAS'
cat_atuais = 'CATEGORIAS ATUAIS'
Nome = 'NOME'
fin_mov = 'VAR_PRECO'
qtde = 'TOTAL_NOVO'

t10v = dfVENDA_PJ.sort_values(by = ['VAR_PRECO'], ascending=False).iloc[:20, :]
t10v = t10v.drop(columns=['DOCUMENTO', 'TOTAL', 'VAR_COTAS', 'OPERAÇÃO', 'FINANCEIRO_ATUAL', 'Participação_sup', 'GARE15', 'GALG15', 'CATEGORIAS'])
t10v

,NOME,PF_PJ,TOTAL_NOVO,FINANCEIRO_NOVO,VAR_PRECO,CATEGORIAS ATUAIS,CATEGORIAS ANTIGAS
22263,AAA FUNDO DE INVESTIMENTO MULTIMERCADO CREDITO...,PJ,5988897,53600628.15,6305929.45,>15M,>15M
22281,DAYCOVAL D9 FUNDO DE INVESTIMENTO IMOBILIRIO,PJ,184260,1569895.20,1004099.26,1M-3M,1M-3M
22272,XTX MARKETS TRADING LIMITED,PJ,119867,1057226.94,874036.37,1M-3M,500k-1M
22259,RIGEL COVE LP,PJ,0,0.00,449861.55,0-1k,20k-50k
22289,CSR PARTICIPACAO LTDA,PJ,3200,28640.00,325094.98,20k-50k,100k-500k
22222,XP INVESTIMENTOS CCTVM S/A,PJ,1098,9827.10,314649.96,5k-20k,100k-500k
22268,TREND ETF IFIX FUNDO DE INDICE,PJ,20398,177462.60,240238.84,100k-500k,100k-500k
22271,FOR PLAYER ASSESSORIA ESPORTIVA LTDA,PJ,0,0.00,107315.00,0-1k,100k-500k
22227,EFFECTIVE SOFTWARE LTDA.,PJ,0,0.00,102240.00,0-1k,100k-500k
22286,VVLJ PARTICIPACOES LTDA,PJ,5016,42034.08,83800.00,20k-50k,100k-500k
22290,HEADLANDS TECHNOLOGIES LLC,PJ,0,0.00,81780.00,0-1k,50k-100k
22269,JUMP TRADING EUROPE B.V.,PJ,0,0.00,72407.66,0-1k,5k-20k
22228,"UBS AG, LONDON BRANCH",PJ,0,0.00,60734.05,0-1k,20k-50k
22243,COOPERATIVA HABITACIONAL REGIONAL SETE DE JUNH...,PJ,0,0.00,46350.50,0-1k,20k-50k
22267,MORGAN STANLEY URUGUAY LTDA,PJ,0,0.00,32552.38,0-1k,5k-20k
22256,SPIRE X TRADING LLC RV,PJ,0,0.00,22186.76,0-1k,1k-5k
22266,TARPIKA LLC,PJ,0,0.00,9794.94,0-1k,5k-20k
22273,CREDIT SUISSE (BRASIL) S.A. CTVM,PJ,65,581.75,8234.42,0-1k,1k-5k
22285,BBX EMPREENDIMENTOS E PARTICIPACOES LTDA,PJ,0,0.00,7821.00,0-1k,5k-20k
22220,BRASCHIL UNIFORMES E EQUIPAMENTOS LTDA,PJ,283,2428.14,3003.00,1k-5k,5k-20k